:root {
  --primary-color: #c42424;
}

.my-title {
  color: blue;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  height: 80px;
  padding: 0 7.7%;
}

.icon {
  height: 45px;
  width: 65px;
}

.hero-container {
  background: yellow;
  height: 720px;
}

.bg-merah {
  background: var(--primary-color);
  border: none;
  height: 40px;
}

.card-product {
  transition: 0.3s;
}

.card-product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
